/* ======= Body ======= */
@import "tailwindcss";
html {
  scroll-behavior: smooth; /* Enables smooth scrolling across the application */
  overflow-x: hidden;
}

body {
  background-color: white !important;
  font-family: "Arial", sans-serif;
  color: #333333;
  margin: 0;
  padding: 0px;
  text-align: center;
  overflow-x: hidden !important;
}
